.card {
    background-color: rgb(228, 228, 228);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 40px;
}

img {
    margin: 16px;
    height: 50px;
    width: 50px;
}